{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

  <div class="container" id="main-section">
    <div class="panel panel-default login-signup">
      <div class="panel-heading">
        <h1 class="panel-title">Add Shop</h1>
      </div><!-- /.panel-heading -->
      <div class="panel-body">
        <form action="/add_resturant" method="post">
        <input type="hidden" id="userid" name="userid" value={{ session.current_user.user_id }}>
          <label for="firstname">Name of Shop</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Raj Bag Enterprises" required>
          <label for="firstname">Address of Shop</label>
          <input type="text" class="form-control" id="address" name="address" placeholder="Chandni Chowk " required>
          <label for="lastname">Phone No</label>
          <input type="text" class="form-control" id="phone" name="phone" placeholder="Bar" required>
          <label for="city">Select your city:</label>
          <select class="form-control" id="city" name="city">
            <option value="Sunnyvale">Sunnyvale</option>
            <option value="Vancouver">Vancouver</option>
          </select>
          <p id="disclaimer">* Don't see your city? Breadcrumbs is only available for these cities at the moment. Please come back and sign up when the service becomes available in your city!</p>
          <button class="btn btn-lg btn-primary btn-block btn-homepage" type="submit"><span class="fa fa-user-plus" aria-hidden="true"></span> Signup</button>
        </form>
        <br>     
      </div><!-- /.panel-body-->
    </div><!-- /.panel -->
  </div><!-- /.container -->

{% endblock %}